* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;

  /* Fondos */
  --bg-color-primary: #f8fafc;
  --bg-color-secundary: #ffffff;

  /* Textos */
  --text-title: #1e293b;
  --text-muted: #475569;
  --text-btn-light: #ffffff;
  --text-btn-dark: #451a03; /* Color oscuro para leer bien sobre el fondo amarillo */

  /* UI: Bordes y Sombras */
  --border-card: #e2e8f0;
  --shadow-main: rgba(0, 0, 0, 0.1);
  --shadow-soft: rgba(0, 0, 0, 0.06);
  --shadow-img: rgba(0, 0, 0, 0.2);

  /* Colores Especiales Clash Royale */
  --color-evo: #b24bf3; /* Violeta oscuro mágico */
  --color-evo-hover: #9b3ce0;
  --color-hero: #fbbf24; /* Amarillo Dorado de Campeón */
  --color-hero-hover: #f59e0b;
}

body {
  background-color: var(--bg-color-primary);
}

h1 {
  padding: 1.3rem;
}

#cards-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-self: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

.card:hover {
  transform: translateY(-5px);
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s;
}

.card.highlighted {
  border: 2px solid gold;
  background-color: #fffdf0;
}

.card.favorite {
  background-color: #ffe4e1;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}

.search-container {
  text-align: center;
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
